{{#each players as |player|}}
  <tr>
    {{#if (isNotNull player.name)}}<td class="text-center">{{player.name}}</td> {{else}}<td class="text-center">-</td>{{/if}}
    {{#if (isNotNull player.position)}}<td class="text-center">{{player.position}}</td> {{else}}<td class="text-center">-</td>{{/if}}
    {{#if (isNotNull player.countryOfBirth)}}<td class="text-center">{{player.countryOfBirth}}</td> {{else}}<td class="text-center">-</td>{{/if}}
  </tr>
{{/each}} 